<div class="user-avatar" style="background-image: url('http://i.pravatar.cc/250?u=a042581f4eko41l');"></div>
<nav class="menu-container">
  <ul class="menu">
    <li class="menu-item">
      <a routerLink="/practice" class="menu-link">Practice</a>
    </li>
    <li class="menu-item">
      <a routerLink="/about" class="menu-link">About</a>
    </li>
    <li class="menu-item">
      <a routerLink="/auth" class="menu-link">Log In</a>
    </li>
    <li class="menu-item">
      <a routerLink="/styles" class="menu-link">Styles</a>
    </li>
  </ul>
</nav>
