@import '../../../assets/sass/modules/colors'

$avatarSize: 120px

.user-info
  .user-avatar
    width: $avatarSize
    height: $avatarSize
    margin: 2rem auto
    background:
      color: #dedede
      size: cover
      position: center
      repeat: no-repeat
    border: 3px solid white
    box-shadow: 0 0 4px rgba(0, 0, 0, .4)

  .statistic-container
    width: 90%
    margin: 0.8rem auto
    padding: 0.5rem
    border-bottom: 1px solid $colorDark
    border-top: 1px solid $colorDark
    text-align: center
    cursor: pointer
    transition: background-color 0.2s ease-in-out

    &:hover
      background-color: darken($colorBlue, 2)

      .detailed-statistics
        opacity: 1
        pointer-events: auto

    .user-name
      font-size: 1.2rem
      padding: 0
      margin: 0 0 0.2rem 0

    .detailed-statistics
      position: absolute
      left: 100%
      top: -1px
      width: 230px
      padding: 0.5rem
      border: 1px solid $colorDark
      background-color: darken($colorBlue, 2)
      text-align: left
      opacity: 0
      transition: opacity 0.3s ease-in-out
      pointer-events: none

      span
        display: block

nav.menu-container
  ul.menu
    list-style: none
    padding: 0
    margin: 0
    text-align: center

    li.menu-item
      a.menu-link
        display: block
        padding: 5px 0
        margin: 5px 0
        font:
          size: 1.2rem
          weight: 700
        letter-spacing: 0.03rem
        text-decoration: none
        cursor: pointer

        &:hover
          color: black
