<div class="user-info">
  <div class="user-avatar" [ngStyle]="{ 'background-image': 'url(' + getUserPicture() + ')' }"></div>
  <div class="statistic-container">
    <h3 class="user-name">{{ getUserName() }}</h3>
    <span class="average-speed">Average speed<br><b>{{ isAuthenticated() ? getAverageSpeedLast() : getAverageSpeed() }} WPM</b></span>
    <div class="detailed-statistics">
      <span class="average-accuracy">Average accuracy: <b>{{ getAverageAccuracy() }}%</b></span>
      <span class="typing-times">Typing times: <b>{{ getTypingTimes() }}</b></span>
      <p *ngIf="!isAuthenticated()">In order to see more detailed statistics, you need to be logged in.</p>
      <ng-template [ngIf]="isAuthenticated()">
        <span class="points">Points: <b>{{ getPoints() }}</b></span>
        <span class="average-speed-all">Average speed(all): <b>{{ getAverageSpeed() }} WPM</b></span>
        <span class="average-speed-lasts">Average speed(last 10): <b>{{ getAverageSpeedLast() }} WPM</b></span>
      </ng-template>
    </div>
  </div>
</div>
<nav class="menu-container">
  <ul class="menu">
    <li class="menu-item">
      <a (click)="onPractice()" class="menu-link">Practice</a>
    </li>
    <li class="menu-item">
      <a routerLink="/about" class="menu-link">About</a>
    </li>
    <li class="menu-item">
      <a routerLink="/styles" class="menu-link">Styles</a>
    </li>
    <li class="menu-item">
      <a routerLink="/admin/products" class="menu-link">Admin</a>
    </li>
    <ng-template [ngIf]="isAuthenticated()">
      <li class="menu-item">
        <a routerLink="/dashboard" class="menu-link">Dashboard</a>
      </li>
      <li class="menu-item">
        <a (click)="onLogout()" class="menu-link">Log Out</a>
      </li>
    </ng-template>
    <ng-template [ngIf]="!isAuthenticated()">
      <li class="menu-item">
        <a (click)="onLogin()" class="menu-link">Log In</a>
      </li>
    </ng-template>
  </ul>
</nav>
