<div class="content-container">
  <div class="row">
    <div class="col-6 col-lg-12 user-container">
      <div class="user-image-container">
        <div class="user-image" [ngStyle]="{ 'background-image': 'url(' + getPicture() + ')'}"></div>
      </div>
      <div class="user-info-container">
        <div class="user-name user-info">
          <span class="user-info-label">Name:</span>
          <span class="user-info-data">{{ getName() }}</span>
        </div>
        <div class="user-nickname user-info">
          <span class="user-info-label">Nickname:</span>
          <span class="user-info-data">{{ getNickname() }}</span>
        </div>
        <div class="user-typing-times user-info">
          <span class="user-info-label">Typing times:</span>
          <span class="user-info-data">{{ getTypingTimes() }}</span>
        </div>
        <div class="user-typing-times user-info">
          <span class="user-info-label">Points:</span>
          <span class="user-info-data">{{ getPoints() }}</span>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-12">
      <div class="user-statistics">
        <table class="detailed-statistics">
          <thead>
          <tr>
            <th colspan="3">Averages</th>
          </tr>
          <tr>
            <th>Speed(WPM)</th>
            <th>
              <div class="input-group">
                <div class="input-container">
                  <span class="decrease-last" (click)="changeLast(-1)">-</span>
                  <span class="last-number">{{ lastNum }}</span>
                  <span class="increase-last" (click)="changeLast(1)">+</span>
                </div>
              </div>
            </th>
            <th>Accuracy(%)</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th>{{ getAverageSpeedAll() }}</th>
            <td>All</td>
            <th>{{ getAverageAccuracyAll() }}</th>
          </tr>
          <tr>
            <th>{{ getRealAverageSpeedAll() }}</th>
            <td>All | Real</td>
            <th>{{ getRealAverageAccuracyAll() }}</th>
          </tr>
          <tr>
            <th>{{ getAverageSpeedLast() }}</th>
            <td>Last {{ lastNum }}</td>
            <th>{{ getAverageAccuracyLast() }}</th>
          </tr>
          <tr>
            <th>{{ getRealAverageSpeedLast() }}</th>
            <td>Last {{ lastNum }} | Real</td>
            <th>{{ getRealAverageAccuracyLast() }}</th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
