@import '../../../../../assets/sass/modules/colors'

.content-container

  .typing-result-header
    display: flex
    flex-direction: row
    cursor: pointer

    &.opened + .typing-result-content
      max-height: 1000px
      transition: max-height 0.5s ease-in-out

    span
      line-height: 1.2rem
      font-size: 1.2rem
      margin-right: 1rem

    strong
      width: 120px
      border-left: 1px solid $colorDark
      line-height: 1.2rem
      font-size: 1rem
      text-align: center

  .typing-result-content
    overflow: hidden
    max-height: 0
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1)

    .text-container
      margin-top: 1rem

