<div class="content-container">
  <div class="practice-statistics">
    <div class="practice-statistic">
      <button class="btn btn-blue" (click)="onPracticeAgain()">
        Practice Again
      </button>
    </div>
    <div class="practice-statistic">
      Accuracy: {{ getAccuracy() }}%
    </div>
    <div class="practice-statistic">
      Time: {{ getElapsedTime() }} secs
    </div>
    <div class="practice-statistic">
      Speed: {{ getSpeed() }} WPM
    </div>
    <div class="practice-statistic">
      Points: {{ getPoints() }}
    </div>
  </div>
  <div class="practice-product-info">
    <p>
    You typed a text from a(n) <b>{{ typingInfo.product.productType.type }}</b>
    </p>
    <h3 class="product-title">
      {{ typingInfo.product.author }}: {{ typingInfo.product.name }}
    </h3>
  </div>
</div>
