<div class="content-container">
  <div class="practice-statistics">
    <div class="practice-statistic">
      <button class="btn btn-blue" (click)="onPracticeAgain()">
        Practice Again
      </button>
    </div>
    <div class="practice-statistic">
      Accuracy: {{ getAccuracy() }}%
    </div>
    <div class="practice-statistic">
      Time: {{ getElapsedTime() }} secs
    </div>
    <div class="practice-statistic">
      Speed: {{ getSpeed() }} WPM
    </div>
    <div class="practice-statistic">
      Points: {{ getPoints() }}
    </div>
  </div>
  <div class="practice-product-info">
    <p>You typed from a(n) <b>{{ text.product.productType.name }}</b></p>
    <h3 class="product-title">
      {{ text.product.author }}: {{ text.product.name }}
    </h3>
    <div class="chart-container" *ngIf="isAuthenticated() && typingResults">
      <h4>Speed (WPM) - Previous typing for this text</h4>
      <canvas
        width="800"
        height="200"
        baseChart
        [datasets]="speedChart.datasets"
        [legend]="speedChart.legend"
        [options]="speedChart.options"
        [chartType]="speedChart.type"></canvas>
    </div>
  </div>
</div>
