@import '../../../../assets/sass/modules/colors'

.product-detail-container
  .product-info
    padding: 1rem 0
    margin: 1rem 0
    border-top: 1px solid $colorLight
    border-bottom: 1px solid $colorLight

  .scrollable-container
    max-height: 65vh
    overflow-y: auto
