<div class="product-detail-container">
  <div class="product-actions">
    <a (click)="onNewText()" class="btn btn-green">New Text</a>
    <a routerLink="edit" class="btn btn-blue">Edit Product</a>
    <a (click)="onDelete()" class="btn btn-red">Delete Product</a>
  </div>
  <div class="product-info" *ngIf="getProduct()">
    <div class="product-title">
      <b>{{ getProduct().name }}</b> | {{ getProduct().author }}
    </div>
    <div class="product-type">
      {{ getProduct().productType.name }}
    </div>
  </div>
  <div class="scrollable-container">
    <app-product-text
      *ngIf="isNewText() && getProduct()"
      [isNewText]="true"
      [productId]="getProduct()._id"
      (cancelNewText)="onCancelNewText()"></app-product-text>
    <app-product-text
      *ngFor="let typingInfo of getTexts()"
      [text]="typingInfo"></app-product-text>
  </div>
</div>
