@import '../../../../assets/sass/modules/colors'

.typing-container

  &.error
    border-color: $colorRed

  #textContainer
    white-space: pre-wrap

    pre, span
      display: inline
      padding: 6px 0 3px
      margin: 2px 0
      font-size: 22px
      line-height: 36px
      height: 36px
      color: $colorLight
      border-bottom: 2px solid transparent
      border-left: 1px solid transparent

    span
      padding: 2px 1px
      font-size: 22px

    pre.active, span.active
      color: $colorDark
      border-left-color: $colorDark

    pre.correct, span.correct
      color: $colorGreen

    pre.wrong, span.wrong
      background-color: $colorRed
      color: white

    pre.wrong-after, span.wrong-after
      color: $colorRed
      border-bottom-color: $colorRed

    pre.unproductive, span.unproductive
      color: $colorOrange
      border-bottom-color: $colorOrange

  .progression-container
    display: flex
    flex-direction: row
    padding-bottom: 1.5rem
    margin-bottom: 1.5rem
    border-bottom: 1px solid $colorLight

    .visual-info
      display: flex
      flex-direction: row
      width: calc(100% - 80px)
      box-shadow: 0 0 4px rgba(0, 0, 0, .4)

      .avatar
        width: 40px
        height: 40px
        background:
          size: cover
          position: center
          repeat: no-repeat

      .progression
        width: calc(100% - 40px)
        box-shadow: none

    .speed
      display: flex
      flex-direction: row
      align-items: center
      justify-content: flex-end
      width: 80px
      text-align: right
