<div class="typing-container content-container" #typingContainer [ngClass]="{ 'error': isError() }">
  <div class="progression-container">
    <div class="visual-info">
      <div class="avatar" [ngStyle]="{ 'background-image': 'url(' + getUserPicture() + ')' }"></div>
      <div class="progression" id="progressionContainer">
        <div class="progression-bar"></div>
      </div>
    </div>
    <div class="speed">
      <strong><span id="speed">0</span> WPM</strong>
    </div>
  </div>
  <div id="textContainer" #textContainer></div>
</div>
