<div class="content-container">
  <header class="dashboard-header">
    <ul class="dashboard-options">
      <li class="dashboard-option">
        <a routerLink="profile" routerLinkActive="active" class="dashboard-option-link">Profile</a>
      </li>
      <li class="dashboard-option">
        <a routerLink="practice-history" routerLinkActive="active" class="dashboard-option-link">Practice History</a>
      </li>
      <li class="dashboard-option">
        <a routerLink="statistics" routerLinkActive="active" class="dashboard-option-link">Statistics</a>
      </li>
    </ul>
  </header>
</div>
<router-outlet></router-outlet>
