<div class="content-container">
  <p class="tests-info">
    On this page, you can test your typing skills. There are some pre-defined texts, on which you can test it. You can show the statistics and progress too.
  </p>
</div>
<div class="content-container">
  <h2 class="page-title">Test Text</h2>
  <div class="test-texts-container">
    <div class="test-text">
      <a routerLink="/" class="btn btn-green">
        <i class="fas fa-play"></i>
      </a>
      <a routerLink="/" class="btn btn-blue">
        <i class="fas fa-poll"></i>
      </a>
      <p class="text">
        (textId) - (times typed) - Basic test text, first 50 letter.
      </p>
    </div>
  </div>
</div>
