<div class="container">
  <div class="content-container">
    <h1>Style Tester Page</h1>
    <div class="buttons-container" style="margin-bottom: 1rem;">
      <button class="btn btn-blue">
        Blue Button
      </button>
      <button class="btn btn-red">
        Red Button
      </button>
      <button class="btn btn-green">
        Green Button
      </button>
      <button class="btn btn-orange">
        Orange Button
      </button>
    </div>
    <div class="links-container">
      <a routerLink="/" class="btn btn-blue">
        Blue A
      </a>
      <a routerLink="/" class="btn btn-red">
        Red A
      </a>
      <a routerLink="/" class="btn btn-green">
        Green A
      </a>
      <a routerLink="/" class="btn btn-orange">
        Orange A
      </a>
    </div>
    <hr style="margin: 1.5rem 0">
    <div class="input-groups-container">
      <div class="input-group">
        <div class="input-container">
          <input type="text" id="inputId" class="input-control" appInputFilled>
          <label for="inputId" class="input-title">Input Title</label>
        </div>
        <div class="input-info">
          This field must contain at least 6 characters.
        </div>
        <div class="input-feedback">
          This text was already used.
        </div>
      </div>
      <div class="input-group">
        <div class="input-container">
          <textarea id="textareaId" class="input-control" appInputFilled></textarea>
          <label for="textareaId" class="input-title">Text Area Title</label>
        </div>
        <div class="input-info">
          Information about this text area.
        </div>
        <div class="input-feedback">
          Error message for this text area.
        </div>
      </div>
    </div>
  </div>
</div>
